{% load static %}
{% load js %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TodoMVC • Django • Ember.js</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <script src="{% static "assets/jquery/dist/jquery.js" %}"></script>
    {% django_js jquery=false %}
    <script src="{% static "assets/handlebars/handlebars.js" %}"></script>
    <script src="{% static "assets/ember/ember.js" %}"></script>
    <script src="{% static "assets/ember-data/ember-data.js" %}"></script>

  </head>
  <body>

    <script type="text/x-handlebars" data-template-name="todos">
        {% include "todo/todos.hbs" %}
    </script>



    <script src="{% static "todoapp/app.js" %}" ></script>
    <script src="{% static "todoapp/router.js" %}" ></script>
    <script src="{% static "todoapp/models/todo.js" %}" ></script>
  </body>
</html>